  <footer class="main-footer">
    <strong>Copyright &copy; 2020-2021 <a href="https://mmroshani.ir">LearnMS</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 0.0.0008
    </div>
  </footer>