{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="https://mmroshani.ir" class="brand-link">
      <img src="{% static "dist/img/learning.png" %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">LearnMS</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{% static "dist/img/user2-160x160.jpg" %}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="{% url 'student_profile' %}" class="d-block">{{ user.username }}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
<!--          <li class="nav-item has-treeview menu-open">-->
<!--            <a href="#" class="nav-link active">-->
<!--              <i class="nav-icon fas fa-tachometer-alt"></i>-->
<!--              <p>-->
<!--                Dashboard-->
<!--                <i class="right fas fa-angle-left"></i>-->
<!--              </p>-->
<!--            </a>-->
<!--            <ul class="nav nav-treeview">-->
<!--              <li class="nav-item">-->
<!--                <a href="./index.html" class="nav-link active">-->
<!--                  <i class="far fa-circle nav-icon"></i>-->
<!--                  <p>Dashboard v1</p>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a href="./index2.html" class="nav-link">-->
<!--                  <i class="far fa-circle nav-icon"></i>-->
<!--                  <p>Dashboard v2</p>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a href="./index3.html" class="nav-link">-->
<!--                  <i class="far fa-circle nav-icon"></i>-->
<!--                  <p>Dashboard v3</p>-->
<!--                </a>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </li>-->
          <li class="nav-item">
            {% url "student_home" as student_home %}
            <a href="{{ student_home }}" class="nav-link {% if request.path == student_home %} active {% endif %} ">
              <i class="nav-icon fas fa-th"></i>
              <p>
                خانه
                <span class="right badge badge-danger">New</span>
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url "student_view_attendance" as student_view_attendance %}
            <a href="{{ student_view_attendance }}" class="nav-link {% if request.path == student_view_attendance %} active {% endif %} ">
              <i class="nav-icon fas fa-th"></i>
              <p>
                حضور و غیاب
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url "student_apply_leave" as student_apply_leave %}
            <a href="{{ student_apply_leave }}" class="nav-link {% if request.path == student_apply_leave %} active {% endif %} ">
              <i class="nav-icon fas fa-th"></i>
              <p>
                مرخصی
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url "student_feedback" as student_feedback %}
            <a href="{{ student_feedback }}" class="nav-link {% if request.path == student_feedback %} active {% endif %} ">
              <i class="nav-icon fas fa-th"></i>
              <p>
                بازخورد
              </p>
            </a>
          </li>
<!--          <li class="nav-item has-treeview">-->
<!--              {% url "manage_stuff" as manage_stuff %}-->
<!--              {% url "add_staff" as add_staff %}-->

<!--            <a href="#" class="nav-link {% if request.path == manage_stuff or request.path == add_staff %} active {% endif %} ">-->
<!--              <i class="nav-icon fas fa-copy"></i>-->
<!--              <p>-->
<!--                کارمندان-->
<!--                <i class="fas fa-angle-left right"></i>-->
<!--&lt;!&ndash;                <span class="badge badge-info right"></span>&ndash;&gt;-->
<!--              </p>-->
<!--            </a>-->
<!--            <ul class="nav nav-treeview">-->
<!--              <li class="nav-item">-->
<!--                {% url "manage_stuff" as manage_stuff %}-->
<!--                <a href="{{ manage_stuff }}" class="nav-link {% if request.path == manage_stuff %} active {% endif %} ">-->
<!--                  <i class="far fa-circle nav-icon text-warning"></i>-->
<!--                  <p>مدیریت</p>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--              {% url "add_staff" as add_staff %}-->
<!--                <a href="{{ add_staff }}" class="nav-link {% if request.path == add_staff %} active {% endif %}">-->
<!--                  <i class="far fa-circle nav-icon text-info"></i>-->
<!--                  <p>اضافه کردن</p>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a href="pages/layout/boxed.html" class="nav-link">-->
<!--                  <i class="far fa-circle nav-icon text-info"></i>-->
<!--                  <p>بازخورد</p>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a href="#" class="nav-link">-->
<!--                  <i class="far fa-circle nav-icon text-danger"></i>-->
<!--                  <p>خروج</p>-->
<!--                </a>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </li>-->
<!--          <li class="nav-item has-treeview">-->
<!--            {% url "manage_student" as manage_student %}-->
<!--            {% url "add_student" as add_student %}-->
<!--            <a href="#" class="nav-link {% if request.path == manage_student or request.path == add_student %} active {% endif %} ">-->
<!--              <i class="nav-icon fas fa-chart-pie"></i>-->
<!--              <p>-->
<!--                دانشجویان-->
<!--                <i class="right fas fa-angle-left"></i>-->
<!--              </p>-->
<!--            </a>-->
<!--            <ul class="nav nav-treeview">-->
<!--              <li class="nav-item">-->
<!--                {% url "add_student" as add_student %}-->
<!--                <a href="{{add_student}}" class="nav-link {% if request.path == add_student %} active {% endif %}">-->
<!--                  <i class="far fa-circle nav-icon text-info"></i>-->
<!--                  <p>اضافه کردن</p>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                {% url "manage_student" as manage_student %}-->
<!--                <a href="{{ manage_student }}" class="nav-link {% if request.path == manage_student %} active {% endif %}">-->
<!--                  <i class="far fa-circle nav-icon text-warning"></i>-->
<!--                  <p>مدیریت</p>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a href="#" class="nav-link">-->
<!--                  <i class="far fa-circle nav-icon text-info"></i>-->
<!--                  <p>بازخورد</p>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a href="#" class="nav-link">-->
<!--                  <i class="far fa-circle nav-icon text-danger"></i>-->
<!--                  <p>خروج</p>-->
<!--                </a>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </li>-->
<!--          <li class="nav-item has-treeview">-->
<!--            {% url "manage_course" as manage_course %}-->
<!--            {% url "add_course" as add_course %}-->
<!--            <a href="#" class="nav-link {% if request.path == manage_course or request.path == add_course %} active {% endif %} ">-->
<!--              <i class="nav-icon fas fa-tree"></i>-->
<!--              <p>-->
<!--                دروس-->
<!--                <i class="fas fa-angle-left right"></i>-->
<!--              </p>-->
<!--            </a>-->
<!--            <ul class="nav nav-treeview">-->
<!--              <li class="nav-item">-->
<!--                {% url "add_course" as add_course %}-->
<!--                <a href="{{add_course}}" class="nav-link {% if request.path == add_course %} active {% endif %}">-->
<!--                  <i class="far fa-circle nav-icon text-info"></i>-->
<!--                  <p>اضافه کردن</p>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                {% url "manage_course" as manage_course %}-->
<!--                <a href="{{manage_course}}" class="nav-link {% if request.path == manage_course %} active {% endif %}">-->
<!--                  <i class="far fa-circle nav-icon text-warning"></i>-->
<!--                  <p>مدیریت</p>-->
<!--                </a>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </li>-->
<!--          <li class="nav-item has-treeview">-->
<!--            {% url "add_subject" as add_subject %}-->
<!--            {% url "manage_subject" as manage_subject %}-->
<!--            <a href="#" class="nav-link {% if request.path == add_subject or request.path == manage_subject %} active {% endif %} ">-->
<!--              <i class="nav-icon fas fa-edit"></i>-->
<!--              <p>-->
<!--                موضوع-->
<!--                <i class="fas fa-angle-left right"></i>-->
<!--              </p>-->
<!--            </a>-->
<!--            <ul class="nav nav-treeview">-->
<!--              <li class="nav-item">-->
<!--                {% url "add_subject" as add_subject %}-->
<!--                <a href="{{add_subject}}" class="nav-link {% if request.path == add_subject %} active {% endif %}">-->
<!--                  <i class="far fa-circle nav-icon text-info"></i>-->
<!--                  <p>اضافه کردن</p>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--              {% url "manage_subject" as manage_subject %}-->
<!--                <a href="{{manage_subject}}" class="nav-link {% if request.path == manage_subject %} active {% endif %}">-->
<!--                  <i class="far fa-circle nav-icon text-warning"></i>-->
<!--                  <p>مدیریت</p>-->
<!--                </a>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </li>-->
<!--          <li class="nav-item has-treeview">-->
<!--            <a href="#" class="nav-link">-->
<!--              <i class="nav-icon fas fa-table"></i>-->
<!--              <p>-->
<!--                Tables-->
<!--                <i class="fas fa-angle-left right"></i>-->
<!--              </p>-->
<!--            </a>-->
<!--            <ul class="nav nav-treeview">-->
<!--              <li class="nav-item">-->
<!--                <a href="pages/tables/simple.html" class="nav-link">-->
<!--                  <i class="far fa-circle nav-icon"></i>-->
<!--                  <p>Simple Tables</p>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a href="pages/tables/data.html" class="nav-link">-->
<!--                  <i class="far fa-circle nav-icon"></i>-->
<!--                  <p>DataTables</p>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a href="pages/tables/jsgrid.html" class="nav-link">-->
<!--                  <i class="far fa-circle nav-icon"></i>-->
<!--                  <p>jsGrid</p>-->
<!--                </a>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </li>-->
<!--          <li class="nav-header">EXAMPLES</li>-->
<!--          <li class="nav-item">-->
<!--            <a href="pages/calendar.html" class="nav-link">-->
<!--              <i class="nav-icon far fa-calendar-alt"></i>-->
<!--              <p>-->
<!--                حضور و غیاب-->
<!--&lt;!&ndash;                <span class="badge badge-info right">2</span>&ndash;&gt;-->
<!--              </p>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a href="pages/gallery.html" class="nav-link">-->
<!--              <i class="nav-icon far fa-image"></i>-->
<!--              <p>-->
<!--                Gallery-->
<!--              </p>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li class="nav-item has-treeview">-->
<!--            <a href="#" class="nav-link">-->
<!--              <i class="nav-icon far fa-envelope"></i>-->
<!--              <p>-->
<!--                Mailbox-->
<!--                <i class="fas fa-angle-left right"></i>-->
<!--              </p>-->
<!--            </a>-->
<!--            <ul class="nav nav-treeview">-->
<!--              <li class="nav-item">-->
<!--                <a href="pages/mailbox/mailbox.html" class="nav-link">-->
<!--                  <i class="far fa-circle nav-icon"></i>-->
<!--                  <p>Inbox</p>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a href="pages/mailbox/compose.html" class="nav-link">-->
<!--                  <i class="far fa-circle nav-icon"></i>-->
<!--                  <p>Compose</p>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a href="pages/mailbox/read-mail.html" class="nav-link">-->
<!--                  <i class="far fa-circle nav-icon"></i>-->
<!--                  <p>Read</p>-->
<!--                </a>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </li>-->
<!--          <li class="nav-item has-treeview">-->
<!--            <a href="#" class="nav-link">-->
<!--              <i class="nav-icon fas fa-book"></i>-->
<!--              <p>-->
<!--                Pages-->
<!--                <i class="fas fa-angle-left right"></i>-->
<!--              </p>-->
<!--            </a>-->
<!--            <ul class="nav nav-treeview">-->
<!--              <li class="nav-item">-->
<!--                <a href="pages/examples/invoice.html" class="nav-link">-->
<!--                  <i class="far fa-circle nav-icon"></i>-->
<!--                  <p>Invoice</p>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a href="pages/examples/profile.html" class="nav-link">-->
<!--                  <i class="far fa-circle nav-icon"></i>-->
<!--                  <p>Profile</p>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a href="pages/examples/e_commerce.html" class="nav-link">-->
<!--                  <i class="far fa-circle nav-icon"></i>-->
<!--                  <p>E-commerce</p>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a href="pages/examples/projects.html" class="nav-link">-->
<!--                  <i class="far fa-circle nav-icon"></i>-->
<!--                  <p>Projects</p>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a href="pages/examples/project_add.html" class="nav-link">-->
<!--                  <i class="far fa-circle nav-icon"></i>-->
<!--                  <p>Project Add</p>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a href="pages/examples/project_edit.html" class="nav-link">-->
<!--                  <i class="far fa-circle nav-icon"></i>-->
<!--                  <p>Project Edit</p>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a href="pages/examples/project_detail.html" class="nav-link">-->
<!--                  <i class="far fa-circle nav-icon"></i>-->
<!--                  <p>Project Detail</p>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a href="pages/examples/contacts.html" class="nav-link">-->
<!--                  <i class="far fa-circle nav-icon"></i>-->
<!--                  <p>Contacts</p>-->
<!--                </a>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </li>-->
<!--          <li class="nav-item has-treeview">-->
<!--            <a href="#" class="nav-link">-->
<!--              <i class="nav-icon far fa-plus-square"></i>-->
<!--              <p>-->
<!--                Extras-->
<!--                <i class="fas fa-angle-left right"></i>-->
<!--              </p>-->
<!--            </a>-->
<!--            <ul class="nav nav-treeview">-->
<!--              <li class="nav-item">-->
<!--                <a href="pages/examples/login.html" class="nav-link">-->
<!--                  <i class="far fa-circle nav-icon"></i>-->
<!--                  <p>Login</p>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a href="pages/examples/register.html" class="nav-link">-->
<!--                  <i class="far fa-circle nav-icon"></i>-->
<!--                  <p>Register</p>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a href="pages/examples/forgot-password.html" class="nav-link">-->
<!--                  <i class="far fa-circle nav-icon"></i>-->
<!--                  <p>Forgot Password</p>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a href="pages/examples/recover-password.html" class="nav-link">-->
<!--                  <i class="far fa-circle nav-icon"></i>-->
<!--                  <p>Recover Password</p>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a href="pages/examples/lockscreen.html" class="nav-link">-->
<!--                  <i class="far fa-circle nav-icon"></i>-->
<!--                  <p>Lockscreen</p>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a href="pages/examples/legacy-user-menu.html" class="nav-link">-->
<!--                  <i class="far fa-circle nav-icon"></i>-->
<!--                  <p>Legacy User Menu</p>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a href="pages/examples/language-menu.html" class="nav-link">-->
<!--                  <i class="far fa-circle nav-icon"></i>-->
<!--                  <p>Language Menu</p>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a href="pages/examples/404.html" class="nav-link">-->
<!--                  <i class="far fa-circle nav-icon"></i>-->
<!--                  <p>Error 404</p>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a href="pages/examples/500.html" class="nav-link">-->
<!--                  <i class="far fa-circle nav-icon"></i>-->
<!--                  <p>Error 500</p>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a href="pages/examples/pace.html" class="nav-link">-->
<!--                  <i class="far fa-circle nav-icon"></i>-->
<!--                  <p>Pace</p>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a href="pages/examples/blank.html" class="nav-link">-->
<!--                  <i class="far fa-circle nav-icon"></i>-->
<!--                  <p>Blank Page</p>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a href="starter.html" class="nav-link">-->
<!--                  <i class="far fa-circle nav-icon"></i>-->
<!--                  <p>Starter Page</p>-->
<!--                </a>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </li>-->
<!--          <li class="nav-header">MISCELLANEOUS</li>-->
<!--          <li class="nav-item">-->
<!--            <a href="https://adminlte.io/docs/3.0" class="nav-link">-->
<!--              <i class="nav-icon fas fa-file"></i>-->
<!--              <p>Documentation</p>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li class="nav-header">MULTI LEVEL EXAMPLE</li>-->
<!--          <li class="nav-item">-->
<!--            <a href="#" class="nav-link">-->
<!--              <i class="fas fa-circle nav-icon"></i>-->
<!--              <p>Level 1</p>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li class="nav-item has-treeview">-->
<!--            <a href="#" class="nav-link">-->
<!--              <i class="nav-icon fas fa-circle"></i>-->
<!--              <p>-->
<!--                Level 1-->
<!--                <i class="right fas fa-angle-left"></i>-->
<!--              </p>-->
<!--            </a>-->
<!--            <ul class="nav nav-treeview">-->
<!--              <li class="nav-item">-->
<!--                <a href="#" class="nav-link">-->
<!--                  <i class="far fa-circle nav-icon"></i>-->
<!--                  <p>Level 2</p>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="nav-item has-treeview">-->
<!--                <a href="#" class="nav-link">-->
<!--                  <i class="far fa-circle nav-icon"></i>-->
<!--                  <p>-->
<!--                    Level 2-->
<!--                    <i class="right fas fa-angle-left"></i>-->
<!--                  </p>-->
<!--                </a>-->
<!--                <ul class="nav nav-treeview">-->
<!--                  <li class="nav-item">-->
<!--                    <a href="#" class="nav-link">-->
<!--                      <i class="far fa-dot-circle nav-icon"></i>-->
<!--                      <p>Level 3</p>-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li class="nav-item">-->
<!--                    <a href="#" class="nav-link">-->
<!--                      <i class="far fa-dot-circle nav-icon"></i>-->
<!--                      <p>Level 3</p>-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li class="nav-item">-->
<!--                    <a href="#" class="nav-link">-->
<!--                      <i class="far fa-dot-circle nav-icon"></i>-->
<!--                      <p>Level 3</p>-->
<!--                    </a>-->
<!--                  </li>-->
<!--                </ul>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a href="#" class="nav-link">-->
<!--                  <i class="far fa-circle nav-icon"></i>-->
<!--                  <p>Level 2</p>-->
<!--                </a>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a href="#" class="nav-link">-->
<!--              <i class="fas fa-circle nav-icon"></i>-->
<!--              <p>Level 1</p>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li class="nav-header">LABELS</li>-->
<!--          <li class="nav-item">-->
<!--            <a href="#" class="nav-link">-->
<!--              <i class="nav-icon far fa-circle text-danger"></i>-->
<!--              <p class="text">Important</p>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a href="#" class="nav-link">-->
<!--              <i class="nav-icon far fa-circle text-warning"></i>-->
<!--              <p>Warning</p>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a href="#" class="nav-link">-->
<!--              <i class="nav-icon far fa-circle text-info"></i>-->
<!--              <p>Informational</p>-->
<!--            </a>-->
<!--          </li>-->

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
