{% extends 'student_template/base_template.html' %}
{% block page_title %}
دریافت لیست حضور و غیاب
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
                    <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">اطلاعات لیست حضور وغیاب</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
             <form action="{% url 'student_view_attendance_post' %}" method="post">
                <div class="card-body">
                    {% csrf_token %}
                   <div class="form-group">
                    <label>موضوع </label>
                    <select class="form-control" name="subject" id="subject">
                        {% for subject in subjects %}
                          <option value="{{ subject.id }}">{{ subject.subject_name }}</option>
                        {% endfor %}
                    </select>
                  </div>
                  <div class="row">
                  <div class="col-lg-6">
                  <div class="form-group">
                    <label>تاریخ شروع</label>
                    <input type="date" name="start_date" class="form-control" placeholder="Start Date">
                  </div>
                  </div>
                  <div class="col-lg-6">
                  <div class="form-group">
                    <label>تاریخ پایان</label>
                    <input type="date" name="end_date" class="form-control" placeholder="End Date">
                  </div>
                  </div>
                  </div>
                   <div class="form-group">
                      {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% endfor %}
                      {% endif %}
                    </div>

                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block" id="fetch_student">دریافت لیست حضور و غیاب</button>
                </div>

                <div id="student_data" class="card-footer">

                </div>
            </div>
             </form>
            <!-- /.card -->



          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}