{% extends 'hod_template/base_template.html' %}
{% block page_title %}اضافه کردن کارمند{% endblock page_title %}
{% block main_content %}
<section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">افزودن عضو</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="/add_stuff_save" method="post">
                  {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label >نام</label>
                    <input type="text" class="form-control"  placeholder="نام" name="first_name">
                  </div>
                  <div class="form-group">
                    <label >نام خانوادگی</label>
                    <input type="text" class="form-control"  placeholder="نام خانوادگی" name="last_name">
                  </div>
                  <div class="form-group">
                    <label >نام کاربری</label>
                    <input type="text" class="form-control"  placeholder="نام کاربری" name="username" id="id_username" autocomplete="off">
                  </div>
                  <div class="form-group">
                    <label >آدرس</label>
                    <input type="text" class="form-control"  placeholder="آدرس" name="address">
                  </div>
                  <div class="form-group">
                    <label >ادرس ایمیل</label>
                    <input type="email" class="form-control" placeholder="آدرس ایمیل" name="email" id="id_email" autocomplete="off">
                  </div>
                  <div class="form-group">
                    <label >رمز عبور</label>
                    <input type="password" class="form-control" placeholder="رمز عبور" name="password">
                  </div>
                </div>
                  <div class="form-group">
                    {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top: 10px;">
                            {{message}}
                        </div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top: 10px;">
                            {{message}}
                        </div>
                        {% endif %}
                        {% endfor %}
                    {% endif %}
                  </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block">ثبت</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
          </div>
          </div>
      </div>
    </section>
{% endblock main_content %}


{% block custom_js %}
<script>
    $(document).ready(function(){
        $("#id_email").keyup(function(){
            var email=$(this).val();

           if(email!=""){
                $.ajax({
                    url:'{% url 'check_email_exist' %}',
                    type:'POST',
                    data:{email:email}
                })
                .done(function(response){
                    console.log(response);
                    if(response=="True"){
                        $(".email_error").remove();
                        $("<span class='email_error' style='padding: 5px;color: red;font-weight: bold;'>اخذ شده</span>").insertAfter("#id_email");
                    }
                    else{
                        $(".email_error").remove();
                        $("<span class='email_error' style='padding: 5px;color: green;font-weight: bold;'>در دسترس</span>").insertAfter("#id_email");
                    }
                })
                .fail(function(){
                    console.log("failed");
                })
            }
            else{
              $(".email_error").remove();
            }

        });

        $("#id_username").keyup(function(){
            var username=$(this).val();

            if(username!=""){
                $.ajax({
                    url:'{% url 'check_username_exist' %}',
                    type:'POST',
                    data:{username:username}
                })
                .done(function(response){
                    console.log(response);
                    if(response=="True"){
                        $(".username_error").remove();
                        $("<span class='username_error' style='padding: 5px;color: red;font-weight: bold;'>نام کاربری اخذ شده است</span>").insertAfter("#id_username");
                    }
                    else{
                        $(".username_error").remove();
                        $("<span class='username_error' style='padding: 5px;color: green;font-weight: bold;'>نام کاربری در دسترس است</span>").insertAfter("#id_username");
                    }
                })
                .fail(function(){
                    console.log("failed");
                })
            }
            else{
                $(".username_error").remove();
            }

        });

    });
</script>
{% endblock custom_js %}
