{% extends 'hod_template/base_template.html' %}
{% block page_title %}
لیست حضور و غیاب
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
                    <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">اطلاعات لیست</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
                <div class="card-body">
                   <div class="form-group">
                    <label>موضوع </label>
                    <select class="form-control" name="subject" id="subject">
                        {% for subject in subjects %}
                          <option value="{{ subject.id }}">{{ subject.subject_name }}</option>
                        {% endfor %}
                    </select>
                  </div>
                  <div class="form-group">
                    <label>سال | دوره </label>
                    <select class="form-control" name="session_year_id" id="session_year_id">
                        {% for session_year in session_year_id %}
                          <option value="{{ session_year.id }}">{{ session_year.session_start_year }} TO {{ session_year.session_end_year }}</option>
                        {% endfor %}
                    </select>
                  </div>
                  <div class="form-group">
                     <button type="button" class="btn btn-primary btn-block" id="fetch_attendance">دریافت تاریخ حضور و غیاب</button>
                   </div>
                   <div class="form-group" id="attendance_block" style="display:none">
                    <label>تاریخ حضور و غیاب </label>
                    <select class="form-control" name="attendance_date" id="attendance_date">

                    </select>
                  </div>
                    <div class="form-group">
                        <div class="alert alert-danger" id="error_attendance" style="display:none">

                        </div>
                    </div>
                    <div class="form-group" id="fetch_student_block" style="display:none">
                         <button type="button" class="btn btn-primary btn-block" id="fetch_student">دریافت لیست دانشجویان</button>
                     </div>
                </div>
                <!-- /.card-body -->


                <div id="student_data" class="card-footer">

                </div>
            </div>
            <!-- /.card -->



          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}
{% block custom_js %}
<script>
    $(document).ready(function(){



        $("#fetch_attendance").click(function(){
               var subject=$("#subject").val();
               var session_year=$("#session_year_id").val();

            $.ajax({
                    url:'{% url 'admin_get_attendance_dates' %}',
                    type:'POST',
                    data:{subject:subject,session_year_id:session_year},
                })
                .done(function(response){
                    var json_data=JSON.parse(response);
                    if(json_data.length>0)
                    {
                        var html_data="";
                        for(key in json_data)
                        {
                            html_data+="<option value="+json_data[key]["id"]+">"+json_data[key]["attendance_date"]+"</option>";
                        }
                        $("#error_attendance").html("");
                        $("#error_attendance").hide();
                        $("#attendance_block").show();
                        $("#fetch_student_block").show();
                        $("#attendance_date").html(html_data);
                     }
                     else
                     {
                        $("#error_attendance").html("اطلاعاتی یافت نشد");
                        $("#error_attendance").show();
                        $("#attendance_block").hide();
                        $("#fetch_student_block").hide();
                        $("#attendance_date").html("");
                     }
                })
                .fail(function(){
                    alert("ارور در دریافت تاریخ حضور و غیاب :(")
                    $("#error_attendance").html("");
                    $("#attendance_block").hide();
                    $("#fetch_student_block").hide();

                });


        })


        $("#fetch_student").click(function(){

            var attendance_date=$("#attendance_date").val()

            $.ajax({
                url:'{% url 'admin_get_attendance_student' %}',
                type:'POST',
                data:{attendance_date:attendance_date},
            })
            .done(function(response){
                var json_data=JSON.parse(response);
                var div_data="<div class='form-group'><label>لیست دانجویان : </label></div><div class='form-group'><div class='row'>";
                for(key in json_data)
                {
                    div_data+="<div class='col-lg-3'>";
                    div_data+="<label class='form-check-label'>"+json_data[key]['name']+"</label> ";


                     if(json_data[key]['status'])
                    {
                        div_data+="<b> [ حاضر ]</b>";
                    }
                    else{
                        div_data+="<b> [ غایب ]</b>";
                    }

                    div_data+="</div>";
                }
                div_data+="</div></div>";

                $("#student_data").html(div_data);

            })
            .fail(function(){
                alert("خطا در دریافت لیست دانشجویان :(")
            })

         })

    })
</script>
{% endblock custom_js %}