{% extends 'hod_template/base_template.html' %}
{% block page_title %}تصحیح دانش جو{% endblock page_title %}
{% block main_content %}
<section class="content" >
      <div class="container-fluid" >
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">{{ username }} تغییر </h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
                {% url 'edit_student_save' as action_path %}
                {% include 'hod_template/form_template.html' with messages=messages form=form action_path=action_path button_text="تصحیح کردن دانشجو" %}
            </div>
            <!-- /.card -->
          </div>
          </div>
      </div>
    </section>
{% endblock main_content %}
