{% extends 'hod_template/base_template.html' %}
{% block page_title %}
 تغییر دادن کارمند
{% endblock page_title %}
{% block main_content %}
<section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">{{ staff.admin.username }} تغییر </h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="/edit_staff_save" method="post">
                  {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label >نام</label>
                    <input type="text" class="form-control"  placeholder="نام" name="first_name" value="{{ staff.admin.first_name }}">
                  </div>
                  <div class="form-group">
                    <label >نام خانوادگی</label>
                    <input type="text" class="form-control"  placeholder="نام خانوادگی" name="last_name" value="{{ staff.admin.last_name }}">
                    <!--TO PASS 'staff_id' TO THE VIEW-->
                    <input type="hidden" name="staff_id" value="{{ staff.admin.id }}">
                  </div>
                  <div class="form-group">
                    <label >نام کاربری</label>
                    <input type="text" class="form-control"  placeholder="نام کاربری" name="username" value="{{ staff.admin.username }}">
                  </div>
                  <div class="form-group">
                    <label >آدرس</label>
                    <input type="text" class="form-control"  placeholder="آدرس" name="address" value="{{ staff.address }}">
                  </div>
                  <div class="form-group">
                    <label >ادرس ایمیل</label>
                    <input type="email" class="form-control" placeholder="آدرس ایمیل" name="email" value="{{ staff.admin.email }}">
                  </div>
                </div>
                  <div class="form-group">
                    {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top: 10px;">
                            {{message}}
                        </div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top: 10px;">
                            {{message}}
                        </div>
                        {% endif %}
                        {% endfor %}
                    {% endif %}
                  </div>
                <!-- /.card-body -->

                <div class="card-footer" dir="rtl">
                  <button type="submit" class="btn btn-primary btn-block">  ثبت تغییرات برای کاربر {{staff.admin.username}}</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
          </div>
          </div>
      </div>
    </section>
{% endblock main_content %}
