{% extends 'hod_template/base_template.html' %}
{% block page_title %}تصحیح کردن موضوع{% endblock page_title %}
{% block main_content %}
<section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">{{ subject.subject_name }} تغییر </h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="/edit_subject_save" method="post">
                  {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label >نام موضوع</label>
                    <input type="text" class="form-control"  placeholder="نام موضوع" name="subject" value="{{ subject.subject_name }}">
                    <input type="hidden" value="{{ subject.id }}" name="subject_id">
                  </div>
                <div class="form-group">
                    <label >درس</label>
                    <select class="form-group" name="course">
                        {% for course in courses %}
                        <option value="{{ course.id }}" {% if course.id == subject.course_id.id  %} selected {% endif %}>
                            {{ course.course_name }}
                        </option>
                        {% endfor %}
                    </select>
                  </div>
                <div class="form-group">
                    <label >کارمند</label>
                    <select class="form-group" name="staff">
                        {% for staff in staffs %}
                        <option value="{{ staff.id }}" {% if staff.id == subject.staff_id.id  %} selected {% endif %}>
                            {{ staff.first_name }} {{ staff.last_name }}
                        </option>
                        {% endfor %}
                    </select>
                  </div>
                </div>
                  <div class="form-group">
                    {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top: 10px;">
                            {{message}}
                        </div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top: 10px;">
                            {{message}}
                        </div>
                        {% endif %}
                        {% endfor %}
                    {% endif %}
                  </div>
                <!-- /.card-body -->

                <div class="card-footer" dir="rtl">
                  <button type="submit" class="btn btn-primary btn-block">  ثبت تغییرات برای کاربر {{ subject.subject_name }}</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
          </div>
          </div>
      </div>
    </section>
{% endblock main_content %}
