{% extends 'hod_template/base_template.html' %}
{% block page_title %}مدیریت کردن کارمندان{% endblock page_title %}
{% block main_content %}
<section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">

                  <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">جدول کارمندان</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap" dir="rtl">
                  <thead>
                    <tr>
                      <th>ایدی</th>
                      <th>نام</th>
                      <th>نام خانوادگی</th>
                      <th>نام کاربری</th>
                      <th>آدرس پستی</th>
                      <th>وضعیت</th>
                      <th>آدرس</th>
                      <th>اخرین ورود</th>
                      <th>تارخ ساخت</th>
                      <th>عملیات</th>
                    </tr>
                  </thead>
                  <tbody >
                  {% for stuff in stuffs %}
                    <tr>
                      <td>{{ stuff.admin.id }}</td>
                        <td>{{ stuff.admin.first_name }}</td>
                        <td>{{ stuff.admin.last_name }}</td>
                        <td>{{ stuff.admin.username }}</td>
                        <td>{{ stuff.admin.email }}</td>
                        {% if stuff.admin.is_active %}
                        <td><span class="tag tag-success">فعال</span></td>
                        {% else %}
                        <td><span class="tag tag-danger">غیر فعال</span></td>
                        {% endif %}
                        <td>{{ stuff.address }}</td>
                        <td>{{ stuff.admin.last_login }}</td>
                        <td>{{ stuff.admin.date_joined }}</td>
                        <td>
                            <a href="/edit_staff/{{ stuff.admin.id }}" class="btn-success"> تغییر </a>
                        </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
          </div>
      </div>
    </section>
{% endblock main_content %}
