{% extends 'hod_template/base_template.html' %}
{% block page_title %}مدیریت کردن دانشجویان{% endblock page_title %}
{% block main_content %}
<section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">

                  <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">جدول دانشجویان</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap" dir="rtl">
                  <thead>
                    <tr>
                      <th>ایدی</th>
                      <th>نام</th>
                      <th>نام خانوادگی</th>
                      <th>نام کاربری</th>
                      <th>آدرس پستی</th>
                      <th>وضعیت</th>
                      <th>آدرس</th>
                      <th>جنسیت</th>
                      <th>درس</th>
                      <th>پروفایل</th>
                      <th>دوره</th>
                      <th>اخرین ورود</th>
                      <th>تارخ ساخت</th>
                      <th>عملیات</th>
                    </tr>
                  </thead>
                  <tbody >
                  {% for student in students %}
                    <tr>
                      <td>{{ student.admin.id }}</td>
                        <td>{{ student.admin.first_name }}</td>
                        <td>{{ student.admin.last_name }}</td>
                        <td>{{ student.admin.username }}</td>
                        <td>{{ student.admin.email }}</td>
                        {% if student.admin.is_active %}
                        <td><span class="tag tag-success">فعال</span></td>
                        {% else %}
                        <td><span class="tag tag-danger">غیر فعال</span></td>
                        {% endif %}
                        <td>{{ student.address }}</td>
                        <td>{{ student.gender }}</td>
                        <td>{{ student.course_id.course_name }}</td>
                        <td>
                          <img src="{{ student.profile_pic }}" style="width: 90px;border-radius: 15px;"/>
                        </td>
                        <td>{{ student.session_year_id.session_start_year }} ->TO->  {{ student.session_year_id.session_end_year }}</td>
                        <td>{{ student.admin.last_login }}</td>
                        <td>{{ student.admin.date_joined }}</td>
                        <td>
                            <a href="{% url 'edit_student' student_admin_id=student.admin.id %}" class="btn-success"> تغییر </a>
                        </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
          </div>
      </div>
    </section>
{% endblock main_content %}
