{% extends 'hod_template/base_template.html' %}
{% block page_title %}مدیریت کردن دروس{% endblock page_title %}
{% block main_content %}
<section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">

                  <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">جدول دروس</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap" dir="rtl">
                  <thead>
                    <tr>
                      <th>ایدی</th>
                      <th>نام</th>
                      <th>تارخ ساخت</th>
                      <th>تارخ به روز رسانی</th>
                      <th>عملیات</th>
                    </tr>
                  </thead>
                  <tbody >
                  {% for course in courses %}
                    <tr>
                      <td>{{ course.id }}</td>
                        <td>{{ course.course_name }}</td>
                        <td>{{ course.created_at }}</td>
                        <td>{{ course.updated_at }}</td>
                        <td>
                            <a href="/edit_course/{{ course.id }}" class="btn-success"> تغییر </a>
                        </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
          </div>
      </div>
    </section>
{% endblock main_content %}
