{% extends 'hod_template/base_template.html' %}
{% block page_title %}
مرخصی دانشجویان
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">برسی درخواست ها</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
                <div class="table">
                    <table class="table">
                        <tr>
                            <th>ایدی</th>
                            <th>ایدی دانشجو</th>
                            <th>دانشجو</th>
                            <th>تاریخ درخواست</th>
                            <th>پیام درخواست</th>
                            <th>ایجاد شده در</th>
                            <th>عملیات</th>
                        </tr>
                        {% for leave in leaves %}
                        <tr>
                            <td>{{ leave.id }}</td>
                            <td>{{ leave.student_id.admin.id }}</td>
                            <td>{{ leave.student_id.admin.first_name }} {{ leave.student_id.admin.last_name }}</td>
                            <td>{{ leave.leave_date }}</td>
                            <td>{{ leave.leave_message }}</td>
                            <td>{{ leave.created_at }}</td>
                            <td>
                                {% if leave.leave_status == 0 %}
                                <a href="{% url 'student_approve_leave' leave_id=leave.id %}" class="btn btn-success" >موافقت کردن</a>
                                <a class="btn btn-danger" href="{% url 'student_disapprove_leave' leave_id=leave.id %}" >رد کردن</a>
                                {% elif leave.leave_status == 1  %}
                                 <button class="btn btn-warning" disabled="disabled" data-toggle="modal" data-target="#reply_modal">موافقت شده</button>
                                {% else %}
                                <button class="btn btn-danger" disabled="disabled" data-toggle="modal" data-target="#reply_modal">رد شده</button>
                                {% endif %}
                            </td>

                        </tr>
                        {% endfor %}
                    </table>
                </div>

            </div>
            <!-- /.card -->



          </div>
          </div>
      </div>
    </section>

    <!-- /.content -->
{% endblock main_content %}