{% extends 'staff_template/base_template.html' %}
{% block page_title %}حضور و غیاب{% endblock page_title %}
{% block main_content %}
<section class="content">
      <div class="container-fluid">

            <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">برسی حاضرین و غایبین</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
                <div class="card-body">
                <div class="form-group">
                    <label >موضوع</label>
                    <select class="form-group" name="subject" id="subject">
                        {% for subject in subjects %}
                        <option value="{{ subject.id }}">
                            {{ subject.subject_name }}
                        </option>
                        {% endfor %}
                    </select>
                  </div>
                <div class="form-group">
                    <label >دوره تحصیلی</label>
                    <select class="form-group" name="session_year" id="session_year">
                        {% for session_year in session_years %}
                        <option value="{{ session_year.id }}">
                            {{ session_year.session_start_year }} TO {{ session_year.session_end_year }}
                        </option>
                        {% endfor %}
                    </select>
                  </div>
                </div>
                  <div class="form-group">
                    {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top: 10px;">
                            {{message}}
                        </div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top: 10px;">
                            {{message}}
                        </div>
                        {% endif %}
                        {% endfor %}
                    {% endif %}
                  </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="button" class="btn btn-primary btn-block" id="fetch_students">دریافت لیست دانشجویان</button>
                </div>
            </div>
            <!-- /.card -->
              <div id="student_data" class="card-footer"></div>
          </div>

          </div>

      </div><!-- /.container-fluid -->
    </section>
{% endblock main_content %}

{% block custom_js %}
<script>
    $(document).ready(function(){
        $("#fetch_students").click(function(){
            var subject=$("#subject").val()
            var session_year=$("#session_year").val()

            $.ajax({
                url: '{% url 'get_students' %}',
                type:'POST',
                data:{
                    subject: subject,
                    session_year: session_year,
                }
            }).done(function(response){
                var json_data = JSON.parse(response)
                var div_data = "<div class='form-group'><label >تاریخ عملیات</label><input type='date' name='attendance_date' id='attendance_date' class='form-control'></div><div class='form-group'><div class='row'>"
                for(key in json_data){
                    div_data += "<div class='col-lg-2'><div class='form-check'><input type='checkbox' checked='checked' name='student_data[]' class='largerCheckbox' value='"+json_data[key]['id']+"'><label class='form-check-label'>"+json_data[key]['name']+"</label></div></div>"
                }
                div_data += "</div></div>"
                div_data += "<div class='form-group'>"
                div_data +="<button type='button' id='save_attendance' class='btn btn-success btn-block'>ذخیره لیست</button>"
                div_data +="</div>"
                $("#student_data").html(div_data)
                //console.log(response)
            }).fail(function(){
                alert("خطا در دیافت اطلاعات دانشجویان :(")
            })

            $(document).on("click", "#save_attendance", function(){

                $(this).attr("disabled","disabled")
                $(this).text("در حال ذخیره کردن لیست")

                var student_data = $("input[name='student_data[]']").map(function(){
                    if($(this).is(":checked")){
                        return {"id": $(this).val(), "status":1}
                    }else{
                        return {"id": $(this).val(), "status":0}
                    }
                }).get()
                student_data = JSON.stringify(student_data)
                var attendance_date=$("#attendance_date").val()
                var subject_id=$("#subject").val()
                var session_year_id=$("#session_year").val()

            $.ajax({
                url: '{% url 'save_attendance_data' %}',
                type:'POST',
                data:{
                    student_ids: student_data,
                    attendance_date: attendance_date,
                    subject_id: subject_id,
                    session_year_id: session_year_id
                }
                }).done(function(response){
                    if(response == "OK"){
                        alert("لیست حضور وغیاب با موفقیت ثبت شد :)")
                    }else{
                        alert("در ثبت فرم خطایی رخ داده است :(")
                    }
                    location.reload()

                }).fail(function(){
                    alert("خطا در ثبت اطلاعات دانشجویان :(")
                })
            })
        })
    })
</script>

<style>
    input.largerCheckbox {
        width: 25px;
        height: 25px;
    }
</style>

{% endblock custom_js %}
