{% extends 'staff_template/base_template.html' %}
{% block page_title %}
درخواست مرخصی
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
                    <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">ایجاد درخواست مرخصی</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
               <form action="{% url 'staff_apply_leave_save' %}" method="post">
                <div class="card-body">

                   <div class="form-group">
                    <label>تاریخ مرخصی</label>
                       {% csrf_token %}
                    <input type="date" name="leave_date" class="form-control" placeholder="Leave Date">
                  </div>
                  <div class="form-group">
                    <label>دلیل مرخصی</label>
                    <textarea class="form-control" rows="6" name="leave_msg" placeholder="شرح خلاصه دلیل مرخصی..."></textarea>
                  </div>
                   <div class="form-group">
                      {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% endfor %}
                      {% endif %}
                    </div>

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block" id="fetch_student">ثبت درخواست</button>
                </div>
               </form>
            </div>

            <!-- /.card -->
           <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">تاریخچه مرخصی</h3>
              </div>

               <div class="table" dir="rtl">
               <table class="table">
                   <tr>
                       <th>ایدی</th>
                       <th>تاریخ مرخصی</th>
                       <th>دلیل مرخصی</th>
                       <th>وضعیت درخواست</th>
                   </tr>
                   {% for row in leave_data %}
                        <tr>
                            <td>{{ row.id }}</td>
                            <td>{{ row.leave_date }}</td>
                            <td>{{ row.leave_message }}</td>
                            <td>
                                {% if row.leave_status == 1 %}
                                    <span class="alert alert-success">تایید شده</span>
                                {% elif row.leave_status == 2 %}
                                    <span class="alert alert-danger">رد شده</span>
                                {% else %}
                                    <span class="alert alert-info">منتظر تایید</span>
                                {% endif %}
                            </td>
                        </tr>
                   {% endfor %}
               </table>
               </div>
            </div>



          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}