  
{% extends 'registration/base.html' %}

{% block content %}
    {% if validlink %}
    <div class="card-body login-card-body">
      <p class="login-box-msg">تغییر رمز عبور</p>

      <form method="post">
          {% csrf_token %}
          {% for field in form %}
          <div class="form-group">
              {{ field.errors }}
              {{ field.label_tag }}
              <input type="password" id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="form-control">
          </div>
          {% endfor %}
          <button type="submit"  class="btn btn-success btn-block">ثبت و تغییر پسورد</button>
      </form>

      <!-- /.social-auth-links -->

    </div>
    {% else %}

    <p>
        The Password Link Was Expired or Invalid
    </p>
    {% endif %}
{% endblock content %}