  
{% extends 'registration/base.html' %}
{% block content %}
    <div class="card-body login-card-body">
      <p class="login-box-msg">فراموشی رمز عبور</p>

      <form method="post">
          {% csrf_token %}
          {% for field in form %}
          <div class="form-group">
              {{ field.errors }}
              {{ field.label_tag }}
              <input type="text" id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="form-control">
          </div>
          {% endfor %}
          <button type="submit" class="btn btn-block btn-success">ارسال ایمیل</button>
      </form>

      <!-- /.social-auth-links -->

    </div>
{% endblock content %}