  
{% extends 'registration/base.html' %}
{% block content %}
<p style="padding:10px">
    پسورد شما با موفقیت تغییر کرد. <a href="{% url 'show_login' %}" >ورود به سیستم</a>
</p>
{% endblock content %}